ruby:
  breakpoint ||= 'lg'
  col ||= 6
  links ||= true
  header ||= false
  path = image_path figure
  attrs = {banner: {class: "col-#{breakpoint}-#{col}",
                    data: {}},
           frame: {width: local_assigns[:width] || 800,
                   height: local_assigns[:height] || 600,
                   data: {lazy: path}}}
  if local_assigns[:light] || local_assigns[:light_href]
    attrs[:banner][:data] = {light: local_assigns[:light] || true,
                             href: local_assigns[:light_href] ? image_path(light_href) : path}
  end
  if local_assigns[:align]
    attrs[:frame][:class] = "h-bg--cover-#{align}"
  end


figure.banner *attrs[:banner]
  canvas.banner__frame.h-bg--cover *attrs[:frame]

  link%image href=path
  - if attrs[:banner][:data] && attrs[:banner][:data][:href] != path
      link%image href=attrs[:banner][:data][:href]

  - if header
    header.banner__header
      h3%name.banner__name == header
