.pro-footer {
  position: relative;
  color: $gray-500;
  background: $gray-900;

  [class^="col-"] {
    padding-top: 1.5 * $spacer;
    padding-bottom: 1.5 * $spacer;
  }

  a {
    color: $gray-400;

    &:hover:not(.is-active) {
      color: $link-hover-color;
    }

    &.is-active {
      color: $color-accent;
    }
  }
}

.pro-footer__navigation {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: $font-size-sm;
  line-height: 1.5 * $spacer;

  h3 {
    margin: 0.5rem 0 1rem;
    color: #888;
    font-size: 0.875rem;
    font-weight: bold;
  }

  .nav {
    margin-bottom: 1rem;

    a {
      display: block;
      padding: 0.5rem 0;
    }
  }

  .business {
    .icon {
      margin-right: 0.5rem;
    }
  }

  .contact {
    margin-bottom: 0.5rem;

    a {
      font-size: $font-size-sm;
    }
  }

  [aria-label="social"] {
    margin: 1rem 0;

    .icon {
      font-size: $font-size-lg;

      + .icon {
        margin-left: 1.5 * $spacer;
      }
    }
  }
}

.pro-footer__copyright {
  color: $gray-700;
  font-size: $font-size-sm;
  line-height: 1rem;
  border-top: 1px solid $gray-700;

  a {
    color: $gray-500;

    &.develop {
      color: #055;
      font-size: $font-size-sm;
      font-weight: 600;
    }
  }

  .icon {
    margin-right: 1rem;
    font-size: 1.25rem;
  }

  .onclick {
    display: none;

    .is-js & {
      display: inline-block;
    }
  }
}

.pro-yandex-search {
  display: block;
  margin: 2.75rem 0 0.5rem;
  line-height: 1rem;

  button,
  input {
    background: none;
    border: none;
    box-shadow: none;
  }

  button {
    padding: 8px;
    font-size: 0.875rem;
  }

  input {
    padding: 5px 0;
    border-bottom: 1px solid $gray-500;

    &::placeholder {
      color: $input-color-placeholder;
    }
  }
}
