$mosaic-stack-height: 200px !default;

.mosaic {
  background-color: $gray-700;

  .banner {
    overflow: hidden;

    &__frame {
      width: 100%;
      height: auto;
      @include media-breakpoint-down(md) {
        max-height: $mosaic-stack-height * 2;
      }
      @include media-breakpoint-down(sm) {
        max-height: $mosaic-stack-height;
      }
    }

    &__header {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 3rem 3rem 4rem;
      color: $white;
      @include gradient-y(rgba(61, 105, 231, 0), rgba(4, 12, 33, .8));
      @include media-breakpoint-down(md) {
        padding: 2.5rem 2.5rem 3rem;
      }
      @include media-breakpoint-down(xs) {
        padding: 2rem 2rem 2.5rem;
      }
    }

    &__name {
      margin: 4em 0 0;
      font-size: 2rem;
      @include media-breakpoint-down(lg) {
        font-size: 1.5rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2rem;
      }
      @include media-breakpoint-down(xs) {
        font-size: 1.5rem;
      }
    }

    &__button {
      margin: 2rem 0 0;
      font-size: 1.25rem;
      border-radius: 0;
      will-change: color, background-color;
      .icon {
        margin-left: .5rem;
        transition: all .4s;
        will-change: margin-left;
      }
      &:hover {
        .icon {
          margin-left: 1.5rem;
        }
      }
    }
  }
}
