.navbar-brand {
  position: absolute;
  z-index: 1;
  top: $navbar-padding-y;
  left: $navbar-padding-x;
  background: 0 0 no-repeat transparent;
  background-image: image_url('logo.png');

  @include size(221px, 96px);
}

.navbar-toggler {
  position: relative;
  z-index: 1;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.navbar-nav {
  .nav-item {
    margin: 0.25rem 0.4rem 0.5rem;

    .nav-link {
      padding-bottom: 5px;
      font-size: 0.875rem;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-bottom: 1px solid transparent;
      transition: all 0.2s;

      &.dropdown-toggle {
        padding-left: 0.25rem;
      }

      .icon {
        font-size: 1rem;
      }
    }

    &.is-parent {
      > .nav-link {
        border-color: $color-accent;
      }
    }

    &:hover {
      > .nav-link {
        border-color: $navbar-light-hover-color;
      }

      &.dropdown {
        > .nav-link {
          color: #cfcfcf;
          border-color: transparent;
        }
      }
    }

    &.is-active,
    &.active {
      > .nav-link {
        padding-bottom: 3px;
        border-bottom: 3px solid $color-accent;
      }
    }
  }
}

.navbar-collapse {
  flex-grow: 0;

  &.collapsing,
  &.show {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparentize($gray-900, 0.2);

    .navbar-nav {
      margin-top: $navbar-height;

      .nav-item {
        margin: 0;
      }

      .nav-link {
        padding: 10px 0 8px 2rem;
        border-bottom: 3px solid transparent;

        &:hover {
          background: rgba(128, 128, 128, 0.5);
        }

        &.active {
          border-color: $color-accent;
          background: none;
        }
      }
    }
  }
}

.pro-navbar {
  position: absolute;
  z-index: $zindex-fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  align-items: flex-start;
  justify-content: flex-end;

  @include border-radius(0);

  @include media-breakpoint-down(sm) {
    padding-right: 2rem;
  }

  &--mini {
    .navbar-brand {
      background-image: image_url('sign.png');

      @include size(53px, 93px);
    }

    .navbar-toggler,
    .navbar-collapse {
      background-color: transparentize($gray-700, 0.4);
    }

    .navbar-collapse {
      @include border-radius($border-radius);
    }
  }

  &--fixed {
    position: fixed;
    // width: 100vw;
    height: $navbar-fixed-height;
    background: transparentize($gray-900, 0.2);
    box-shadow: 0 1px 12px rgba(black, 0.4);

    .navbar-brand {
      z-index: 1;
      top: ($navbar-padding-y - 0.25rem);
      background-image: image_url('logo.fixed.png');

      @include size(129px, 56px);
    }

    .navbar-toggler {
      background-color: transparent;
    }

    .navbar-collapse {
      background-color: transparent;
      border-radius: 0;

      &.collapsing,
      &.show {
        background-color: inherit;

        .navbar-nav {
          margin-top: calc(#{$navbar-fixed-height} + 1rem);
        }

        .dropdown-menu {
          position: relative;
        }
      }

      &.show {
        overflow-y: auto;
      }
    }
  }
}
