html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  overflow-y: scroll;
  font-family: "Open Sans", $font-family-base;
}

.pro-preload {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: image_url('loading/0.svg') center no-repeat rgba(black, 0.9);
  background-size: 5%;

  .is-turbolinks & {
    display: none;
  }
}

.pro-content {
  padding-top: $spacer * 3.5;
  padding-bottom: $spacer * 3;
  @include clearfix;
}

.pro-messages {
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: .5rem ($grid-gutter-width / 2);
  pointer-events: none;

  .alert {
    width: 80%;
    max-width: 32rem;
    line-height: 1.875rem;
    pointer-events: auto;
  }
}
