- cache @models do

  scss:
    .pro-content {
      .banner {
        display: none;
        float: right;
        margin-right: 4vw;
      }
    }

  .pro-content
    .catalog.catalog--striped = render @models
