scss:
  th {
    &.numb {
      width: 56px;
    }
    &._25 {
      width: 25%;
    }
  }

p Инженеру <strong>строительного контроля</strong>, осуществляющему контроль за строительством объектов
  жилищно-гражданского и производственного назначения,по основным видам нарушений при <strong>монолитных
  работах</strong>.

h2.mb-3 Перечень основных строительных нарушений (дефектов) при производстве монолитных работ

table.table.table-condensed.d-none.d-sm-table
  caption Монолитные бетонные работы

  thead
    tr
      th.numb № <br> п/п
      th Нарушения обязательных требований нормативных документов в строительстве
      th._25 Ссылки на нормативные документы
      th._25 Фото (образец нарушения)

  tbody
    tr
      td 1
      td Перед укладкой бетонной смеси не производится очистка горизонтальных и наклонных бетонных поверхностей
         рабочих швов от мусора, масел, снега, льда и др., поверхности не промываются водой и не просушиваются.
      td СП 70.13330.2012 п.&nbsp;5.3.1 (СНиП 3.03.01-87, п.&nbsp;2.8)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='укладка бетонной смеси без очистки рабочих швов'
          )
          = render partial: 'attachments/canvas', object: @model.images[0],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}
        figure.banner.h-preload(
          data-tooltip='left'
          title='укладка бетонной смеси без промывки водой и просушивания поверхности'
          )
          = render partial: 'attachments/canvas', object: @model.images[1],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 2
      td Укладка бетонной смеси в конструкции производится не горизонтальными слоями, не одинаковой толщины,
         с разрывами.
      td СНиП 3.03.01-87, п.&nbsp;2.10 (СП 70.13330.2012 п.&nbsp;5.3.8)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='неравномерная укладка бетонной смеси в конструкции'
          )
          = render partial: 'attachments/canvas', object: @model.images[2],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}
    tr
      td 3
      td Укладка бетона следующего слоя бетонной смеси производится на бетон предыдущего слоя, процесс схватывания
         которого начался, верхний уровень уложенной бетонной смеси доходит до верха щитов опалубки менее нормируемых
         значений.
      td СП 70.13330.2012 п.&nbsp;5.3.9 (СНиП 3.03.01-87, п.&nbsp;2.12)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='укладка бетона следующего слоя производится на бетон предыдущего слоя'
          )
          = render partial: 'attachments/canvas', object: @model.images[3],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}
        figure.banner.h-preload(
          data-tooltip='left'
          title='верхний уровень бетонной смеси доходит до верха опалубки менее нормируемых значений'
          )
          = render partial: 'attachments/canvas', object: @model.images[4],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 4
      td Поверхность рабочих швов, устраиваемых при укладке бетонной смеси с перерывами, не перпендикулярна оси
         бетонируемых колонн, балок, поверхности плит и стен; расположение рабочих швов не соответствует проекту.
      td СП 70.13330.2012 п.&nbsp;5.3.12 (СНиП 3.03.01-87, п.&nbsp;2.13)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='расположение рабочих швов не соответствует проекту'
          )
          = render partial: 'attachments/canvas', object: @model.images[5],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 5
      td Не выполняются требования к укладке и уплотнению бетонных смесей. Движение людей по забетонированным
         конструкциям и установка опалубки вышележащих конструкций производится до достижения бетоном нормируемой
         прочности.
      td СП 70.13330.2012 п.&nbsp;5.3.13, табл. 5.2 (СНиП 3.03.01-87, п.&nbsp;2.14., табл.&nbsp;2)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='не выполняются требования к укладке и уплотнению бетонных смесей'
          )
          = render partial: 'attachments/canvas', object: @model.images[6],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}
    tr
      td 6
      td Движение людей по забетонированным конструкциям и установка опалубки вышележащих конструкций производится до
         достижения бетоном нормируемой прочности.
      td СП 70.13330.2012 п.&nbsp;5.4.3 (СНиП 3.03.01-87, п.&nbsp;2.17)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='движение людей по забетонированным конструкциям'
          )
          = render partial: 'attachments/canvas', object: @model.images[7],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 7
      td Не контролируются основные показатели качества бетонной смеси и бетона.
      td СП 70.13330.2012 п.&nbsp;5.6.5, табл.&nbsp;5.3 (СНиП 3.03.01-87, п.&nbsp;2.23., табл.&nbsp;3)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='строительный контроль основных показателей качества бетонной смеси и бетона'
          )
          = render partial: 'attachments/canvas', object: @model.images[8],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 8
      td Состояние основания, на которое укладывается бетонная смесь, а также температура основания и способ укладки
         не исключают возможности замерзания смеси в зоне контакта с основанием; неопалубленные поверхности
         конструкций не укрыты паро- и теплоизоляционными материалами по окончании бетонирования; выпуски арматуры
         забетонированных конструкций не укрыты, не утеплены на нормируемую высоту (длину).
      td СП 70.13330.2012 п.&nbsp;5.11.5 (СНиП 3.03.01-87, п.&nbsp;2.57)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='не исключена возможность замерзания бетонной смеси в зоне контакта с основанием'
          )
          = render partial: 'attachments/canvas', object: @model.images[9],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 9
      td Не осуществляется контроль прочности бетона испытаниями образцов, изготовленных у места укладки бетонной
         смеси, либо по температуре бетона в процессе его выдерживания.
      td СП 70.13330.2012 п.&nbsp;5.5.5 (СНиП 3.03.01-87, п.&nbsp;2.61)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='не осуществляется контроль прочности бетона испытаниями образцов'
          )
          = render partial: 'attachments/canvas', object: @model.images[10],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 10
      td Не выполняются нормативные требования к производству бетонных работ при отрицательных температурах
         воздуха.
      td СП 70.13330.2012 п.&nbsp;5.11.16, табл.&nbsp;5.7 (СНиП 3.03.01-87, п.&nbsp;2.62., табл.&nbsp;6)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='не выполняются нормативные требования к производству бетонных работ'
          )
          = render partial: 'attachments/canvas', object: @model.images[11],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 11
      td Не осуществляется уход за свежеуложенным бетоном после окончания укладки бетонной смеси до достижения
         нормативной прочности при температуре воздуха выше нормируемой температуры.
      td СП 70.13330.2012 п.&nbsp;5.4.1 (СНиП 3.03.01-87, п.&nbsp;2.66)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='не осуществляется уход за свежеуложенным бетоном'
          )
          = render partial: 'attachments/canvas', object: @model.images[12],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr

      td 12
      td Минимальная прочность бетона при распалубке менее нормативной.
      td СП 70.13330.2012 п.&nbsp;5.17.8, табл.&nbsp;5.11 (СНиП 3.03.01-87, п.&nbsp;2.110., табл.&nbsp;10)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='строительный контроль минимальной прочности бетона'
          )
          = render partial: 'attachments/canvas', object: @model.images[13],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 13
      td Не соблюдены требования, предъявляемые к законченным бетонным и железобетонным конструкциям или частям
         сооружений.
      td СП 70.13330.2012 п.&nbsp;5.18.3, табл.&nbsp;5.12 (СНиП 3.03.01-87, п.&nbsp;2.113., табл.&nbsp;11)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='не соблюдены требования, предъявляемые к законченным конструкциям'
          )
          = render partial: 'attachments/canvas', object: @model.images[14],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 14
      td Стыковые и крестообразные сварные соединения выполнены с отступлениями от проекта.
      td СП 70.13330.2012 п.&nbsp;5.16.22 (СНиП 3.03.01-87, п.&nbsp;2.103)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='строительный контроль выполнения соединений в соотвесвии с проектом'
          )
          = render partial: 'attachments/canvas', object: @model.images[15],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 15
      td Превышены предельно допустимые отклонения при устройстве арматурных конструкций.
      td СП 70.13330.2012 п.&nbsp;5.16.16, табл.&nbsp;5.10 (СНиП 3.03.01-87, п.&nbsp;2.104., табл.&nbsp;9)
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='превышение предельно допустимых отклонений'
          )
          = render partial: 'attachments/canvas', object: @model.images[16],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [600, 450]}}

    tr
      td 16
      td Сварка арматуры произведена ручной дуговой электросваркой с подрезкой стержней рабочей арматуры.
      td ГОСТ 14098-91; п.&nbsp;8.
      td
        figure.banner.h-preload(
          data-tooltip='left'
          title='строительный контроль сврки арматуры'
          )
          = render partial: 'attachments/canvas', object: @model.images[17],
                  locals: {class: ['banner__frame', 'img-fluid'],
                          width: 192,
                          height: 144,
                          light: "#{action_name}-lightbox",
                          links: {image: [368, 192]}}

.d-sm-none.text-danger таблица доступна при ширине экрана не менее 640 px
