p Одним из основных направлений деятельности ГК «ССК» является выполнение <strong>функций технического
  заказчика</strong>, в том числе, осуществление <strong>строительного контроля</strong>.

p Специалисты ГК «ССК» имеют большой опыт выполнения <b>функций заказчика</b> на стадии строительства, в задачи
  которых входит решение любых организационных вопросов &mdash; от получения разрешения на строительство до ввода
  объекта в эксплуатацию.

p При осуществлении <b>строительного контроля</b> сотрудники ГК «ССК» осуществляют надзор за всеми стадиями
  строительного процесса, дают конкретные рекомендации по устранению нарушений, выявленных техническим, авторским и
  государственным строительным надзором. Заказчики своевременно информируются о выявленных нарушениях.

figure.banner.h-preload.mb-3.ml-lg-3.float-lg-right.clearfix
  = render partial: 'attachments/canvas', object: @model.images[1],
           locals: {class: ['banner__frame', 'img-fluid'],
                    width: 480,
                    height: 360,
                    lightbox: "#{action_name}-lightbox",
                    links: {image: [800, 600]}}

h2#ctrl-quality Контроль качества строительно-монтажных работ

h4 Контроль качества

p Инженеры группы компаний «ССК» осуществляют ежедневный мониторинг строительно-монтажных работ на объекте, принимая
  непосредственное участие в сдаче-приемке всех выполненных этапов работ. Контроль качества подразумевает как
  виртуальный осмотр, так и проведение необходимых испытаний непосредственно на площадке строительства, в том числе и
  в лабораторных условиях. В ходе мониторинга выполняется сверка фактически выполненных работ с решениями, принятыми в
  рабочей документации.

p Стоит отметить, что <b>контроль качества работ</b> и выявление нарушений может производиться совместно с Авторским
  надзором. По результатам ежедневного мониторинга инженерами <b>строительного контроля</b> подготавливаются такие
  документы, как реестр не устраненных &mdash; генподрядчиком замечаний, реестры полученной и исполнительной рабочей
  документации, накопительные ведомости, фото-отчеты, предписания и уведомления подрядным организациям.

h4 Контроль качества СМР

p Обеспечивает высокий <b>контроль качества строительства</b> &mdash; предотвращает деформации и обрушения конструкций
  зданий, возникающие уже в первые годы эксплуатации объекта, а зачастую обнаруживаемые еще до сдачи объекта в
  эксплуатацию. Позволяет исключить скрытые дефекты конструкций и других инженерных сетей, обнаружение которых на
  этапе эксплуатации здания невозможно или затруднено, и сопряжено со значительными дополнительными расходами на
  обследование здания.

h4 Контроль соблюдения графиков строительно-монтажных работ

p Именно <b>контроль утвержденных сроков</b> выполнения строительно-монтажных работ является одной из основных функций
  специалистов строительного контроля. Не стоит говорить о том, насколько важно соблюдение сроков при строительстве
  объектов жилой, коммерческой или промышленной недвижимости.

p В первую очередь, срыв запланированных графиков приводит к значительному удорожанию стоимости строительства, в
  особенности если были задействованы кредитные средства.

p Существует ряд основных мероприятий ГК «ССК» по контролю соблюдения сроков строительно-монтажных работ:
  ul.push
    li Сверка условий договоров подряда с утвержденным проектной документацией объемом работ;
    li Анализ соответствия графика работ с утвержденным объемом работ и их порядком на основании таких документов как:
      ul
        li проект организации строительства;
        li проект производства работ и др.
    li Ежедневный контроль соблюдения утвержденных графиков непосредственно на строительной площадке.

h2#ctrl-enter Входной контроль

p К сожалению, практически на любой строительной площадке можно столкнуться с тем, что подрядные организации, вопреки
  рабочей документации, закупают более дешевые строительные материалы.

p На данном этапе, в первую очередь осуществляется проверка поступающих на объект строительных материалов, и готовых
  конструкций.

p Контролируется <em>качество материалов</em>, их количество и комплектность, а также условия хранения на строительной
  площадке. Помимо этого, осуществляется обязательная проверка <em>сопроводительной документации на
  материалы</em> &mdash; сертификаты, технические паспорта, товарные накладные, результаты исследований.

p Проверка поступающих на площадку материалов и оборудования осуществляется по следующим критериям:
  ul.push
    li Визуальный осмотр и проверка комплектности продукции;
    li Приемка сопроводительной документации на продукцию, которая, помимо транспортной (отгрузочной) документации,
       может включать в себя технические, эксплуатационные и разрешительные документы (сертификаты, разрешения,
       свидетельства экспертизы);
    li Приемка по количеству;
    li Соответствие маркировок проектно-сметной документации;
    li Оценка качества не только путем визуального осмотра, но и с использованием специализированного оборудования.

h2#ctrl-docs Контроль документации

p На протяжении выполнения строительно-монтажных работ подрядные организации оформляют исполнительную документацию,
  которая в последующем анализируется и визируется специалистами строительного контроля.

figure.banner.h-preload.mb-3.ml-lg-3.float-lg-right.clearfix
  = render partial: 'attachments/canvas', object: @model.images[2],
          locals: {class: ['banner__frame', 'img-fluid'],
                  width: 480,
                  height: 360,
                  lightbox: "#{action_name}-lightbox",
                  links: {image: [800, 600]}}

p Комплект исполнительной документации включает в себя исполнительные геодезические схемы и акты приемки геодезической
  разбивки, общие и специальные журналы работ, схемы сетей инженерных коммуникаций, акты приемки конструкций,
  результаты испытаний работоспособности инженерных систем и оборудования, результаты лабораторных исследований,
  рабочие чертежи (включающие данные о реально выполненных работах) и другие документы. Вся работа службы
  строительного контроля основывается на разработанном комплекте рабочей документации. Данная документация тщательно
  проверяется по аспектам комплектности, достаточности, информативности и содержания.

p После проверки рабочей документации наличия положительного заключения <em>Государственной экспертизы</em>, она
  передается в производство работ.

p Порядок оформления <em>исполнительной документации</em> строго регламентируется действующим законодательством
  Российской Федерации. В комплект исполнительной документации входят документы, подтверждающие фактическое выполнение
  работ и их соответствие рабочей документации. Наряду с проверкой качества строительно-монтажных работ, инженеры
  строительного надзора также выполняют мониторинг исполнительной документации на предмет ее комплектности и
  соответствия реальному положению. При сдаче объекта в эксплуатацию данный комплект исполнительной документации
  должен быть предоставлен инспекторам Строительного надзора для проверки и помещения прав.
