.img-thumbnail {
  padding: $thumbnail-padding;
  background-color: $thumbnail-bg;
  border: $thumbnail-border-width solid $thumbnail-border-color;

  @include border-radius($thumbnail-border-radius);
  @include box-shadow($thumbnail-box-shadow);
  @include img-fluid;
}

.control-select {
  display: inline-block;
  max-width: 100%;
  padding: $custom-select-padding-y ($custom-select-padding-x + $custom-select-indicator-padding) $custom-select-padding-y $custom-select-padding-x;
  padding-right: $custom-select-padding-x \9;
  color: $custom-select-color;
  vertical-align: middle;
  background: $custom-select-bg $custom-select-indicator no-repeat right $custom-select-padding-x center;
  background-image: none \9;
  background-size: $custom-select-bg-size;
  border: $custom-select-border-width solid $custom-select-border-color;
  border-radius: $custom-select-border-radius;
  -moz-appearance: none;
  -webkit-appearance: none;

  &--full {
    overflow: visible !important;

    &-null {
      padding-bottom: $custom-select-padding-y * 3;
    }
  }

  &:focus {
    border-color: $custom-select-focus-border-color;
    outline: none;
    box-shadow: $custom-select-focus-box-shadow;

    &::-ms-value {
      color: $input-color;
      background-color: $input-bg;
    }
  }

  &:disabled {
    color: $custom-select-disabled-color;
    cursor: pointer;
    background-color: $custom-select-disabled-bg;
  }

  &::-ms-expand {
    opacity: 0;
  }

  option {
    padding: 4px 0 2px;
  }
}
