$sidebar-width: 320px;

@import "active_admin/mixins";
@import "active_admin/base";

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "helpers";
@import "content";
@import "admin";

@import "trumbowyg";


html {
  overflow-y: scroll;
}

.status_tag {
  background: #6090DB;
}

#utils {
  padding-left: 1rem;
  line-height: 100%;
  > a {
    font-size: 125%;
    line-height: inherit;
  }
}

#main_content {
}
